<section class="project-container">

  <span class="project-tag">
    Enterprise Dashboard
  </span>

  <h2>
    {{ project.title }}
  </h2>

  <p class="project-description">
    {{ project.description }}
  </p>

  <div class="technologies">

    @for (technology of project.technologies; track technology) {

      <span class="technology-badge">
        {{ technology }}
      </span>

    }

  </div>

  <div class="metrics-grid">

    @if (dashboard(); as dashboard) {
        <div class="metric-card">

          <span>
            Devices Online
          </span>

          <strong>
            {{ dashboard.metrics.onlineDevices }}
          </strong>

        </div>

        <div class="metric-card">

          <span>
            Alerts Today
          </span>

          <strong>
            {{ dashboard.metrics.alertsToday }}
          </strong>

        </div>

        <div class="metric-card">

          <span>
            Avg Temperature
          </span>

          <strong>
            {{ dashboard.metrics.averageTemperature }}°C
          </strong>

        </div>
    }

  </div>

    @if (!dashboard()) {
        <div class="loading-dashboard">        
            Loading IoT Dashboard...
         </div>
    }
    @else {    
        <div class="charts-grid">
          <div class="chart-container">
            <highcharts-chart
              [constructorType]="'chart'"
              [options]="chartOptions()"
              style="
                width: 100%;
                height: 280px;
                display: block;
              "
            >
            </highcharts-chart>

          </div>
          <div class="chart-container">
            <highcharts-chart
              [constructorType]="'chart'"
              [options]="deviceDistributionChart()"
              style="
                width: 100%;
                height: 280px;
                display: block;
              "
            >
            </highcharts-chart>
          </div>
        </div>
    }

</section>