/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --primary-color: #6750A4;
  --secondary-color: #c0b8cc;
  --background-color: #f5f5f5;
}

body {
  background-color: var(--background-color);
}